doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Requarks Graph
  body
    .container
      h1= message
      h2 An error has occured.

      if error.stack
        h3 Debug Trace
        pre: code #{error.stack}

    <!-- Build: #{packageVersion} -->
